<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y. It's what's happening / Y</title>
</head>
<body>
    <h1>Y</h1> 
    <h2>Happening now</h2>
    <h3>Join today.</h3>
    <br>
    <br>
    <p><a href="/sign_up">Create Account</a></p>
    <!-- <form action="/sign_up" method="get">
        <input type="submit" value="Create account">
    </form> -->
    <p>
        By signing up, you agree to the Terms of Service<br>
        and Privacy Policy, including Cookie Use.
    </p>
    <p><b>Already have an account?</b></p>
    <!-- <form action="/login" method="get">
        <input type="submit" value="Sign in">
    </form> -->
    <p><a href="/sign_in">Sign in</a></p>

    <p><a href="/home">See all chweets</a></p>
</body>
</html>